In [1]:
from bs4 import BeautifulSoup
import requests

### Access the Page

In [7]:
url = "https://www.ebay.co.uk/sch/i.html?_from=R40&_trksid=m570.l1313&_nkw=graphic+card&_sacat=0"
page = requests.get(url)
soup = BeautifulSoup(page.text, "html")

In [135]:
item_section = soup.find_all("div", class_ = "srp-river-results clearfix")[0]
item_wrapper = item_section.find_all("div", class_ = "s-item__wrapper clearfix")

item_names = [item.find("div", class_ = "s-item__info clearfix").a.div.text.strip() for item in item_wrapper]
# We must clean the item_names
clean_names = []
for i in item_names:
    if i[0:11] == "New listing":
        clean_names.append(i[11:])
    else:
        clean_names.append(i)
                           

item_price = [item.find("span", class_ = "s-item__price").text.strip() for item in item_wrapper]
#print(item_names)
print(item_price)

['£299.99', '£64.99', '£36.01', '£29.74', '£0.99', '£32.95', '£0.99', '£144.00', '£29.74', '£9.89', '£50.99', '£54.99', '£29.99', '£39.99', '£4.95', '£35.00', '£74.00', '£30.00', '£12.00', '£15.99', '£302.20', '£332.20', '£413.50', '£238.23', '£30.00', '£90.00', '£12.99', '£100.00', '£22.39', '£17.99', '£85.00', '£13.99', '£39.00', '£19.99', '£149.68', '£29.99', '£207.74', '£368.99', '£59.08', '£269.07', '£140.00', '£1.20', '£0.99', '£15.00', '£27.00', '£49.00', '£132.90', '£97.18', '£47.99', '£165.00', '£255.00', '£91.00', '£85.00', '£2,100.00', '£75.00', '£50.99', '£75.00', '£50.00', '£60.00', '£260.00', '£10.00', '£50.00', '£20.00', '£69.99', '£20.00', '£19.17', '£40.00', '£160.00', '£44.99', '£16.50', '£29.99', '£265.00', '£289.99', '£469.99', '£38.99', '£0.99', '£85.00', '£44.99', '£50.00', '£406.99', '£441.15']

### Create Pandas Dataframe

In [138]:
import pandas as pd
df = pd.DataFrame(columns = ["Item Name", "Price"])
df

Empty DataFrame
Columns: [Item Name, Price]
Index: []

In [140]:
for i in range(0, len(item_names)):
    length = len(df)
    df.loc[length] = [clean_names[i], item_price[i]]

In [142]:
df

                                            Item Name    Price
0   Nvidia Quadro P5000 16GB DDR5 Video Graphics Card  £299.99
1      SAPPHIRE Radeon RX 580 8GB GDDR5 Graphics Card   £64.99
2   MSI GeForce GTX 1050Ti AERO ITX 4G OCV1 Graphi...   £36.01
3   Dell AMD Radeon R7 450 4GB 2xDisplay Ports PCI...   £29.74
4   Palit NVIDIA GeForce GTX 1050ti GDDR5 4GB Grap...    £0.99
..                                                ...      ...
76  NVIDIA GTX Titan X 12GB Maxwell Graphics Card ...   £85.00
77  Nvidia Quadro K1200  4GB GDDR5 Graphics Card 4...   £44.99
78  SAPPHIRE Nitro AMD Radeon RX 570 8GB GDDR5 Gra...   £50.00
79  Gigabyte Graphics Card GeForce RTX 4060 EAGLE ...  £406.99
80  Gigabyte Graphics Card GeForce RTX 4060 AERO O...  £441.15

[81 rows x 2 columns]

In [103]:
df.to_csv(r'/Users/sreyas/Desktop/Coding Projects/Webscraping/Ebay_Scrape.csv')

In [133]:
x = "New listing"
x[0:11]

'New listing'

In [148]:
x = ["hello", "bye", "nice", "far", "c", "a"]
sorted(x)

['a', 'bye', 'c', 'far', 'hello', 'nice']